.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
h1 {
  color: black;
}
body {
  font-weight: bolder;
  font-size: larger;
  color: black;
  background-attachment: fixed;
  background-size: cover;
  background-image: ;
}

.page wrap {
  width: 80%;
}

@media screen and(max-width:992px) {
  .res .page-wrap {
    width: 100%;
  }
}
